<!-- ./views/index.handlebars-->
<!-- load partial view of "messages" -->
{{> messages}}
<div class="card">
  <div class="card-body mx-auto">
    <h5>URL Shortener</h5>
    <img src="/img/linkindex.jpg" alt="urlLogo">
    <form action="/links" method="post">
      <div class="form-group">
        <label for="originalLink">請輸入網址</label>
        <input type="text" class="form-control" id="originalLink" name="originalLink"
          placeholder="如：https://www.facebook.com">
        <small>請記得加上 "http://" 或是 "https://" </small>
      </div>
      <button type="submit" class="btn btn-primary">轉換</button>
    </form>
  </div>
</div>