<!-- ./views/result.handlebars-->
<!-- load partial view of "messages" -->
{{> messages}}
<div class="card">
  <div class="card-body mx-auto">
    <h5>URL Shortener</h5>
    <img src="/img/linkindex.jpg" alt="urlLogo">
    <h5>成功生成短網址</h5>
    <p>點選下方結果吧！</p>
    <h5><a href={{originalLink}} target="_blank">{{shortURL}}</a></h5>
    <div class="returnIndex">
      <a href="/">
        <button type="submit" class="btn btn-secondary">回首頁</button>
      </a>
    </div>
  </div>
</div>